{% extends "base.html" %}
{% block content%}
<div class="mdl-grid mdl-shadow--2dp form-grid mdl-color--white margin-top-10">
        <form action="{{url_for('editMovieDetails', category = movie.category, movieId = movie.id)}}" class="item-form" method="post" id="movieForm">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-field-text margin-top-5">
            <input class="mdl-textfield__input" type="text" name="movieName" value="{{movie.movieName}}" id="moviename">
            <label class="mdl-textfield__label" for="movieName">Movie Name</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-field-text">
            <input class="mdl-textfield__input" type="text" name="director" value="{{movie.director}}" id="director">
            <label class="mdl-textfield__label" for="director">Director</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-field-text">
            <input class="mdl-textfield__input" type="text" name="movieTrailer" value="{{movie.trailerUrl}}" id="trailerurl">
            <label class="mdl-textfield__label" for="movieTrailer">Movie Trailer url</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-field-text">
            <textarea class="mdl-textfield__input" type="text"  name="movieDescription" id="description">{{movie.description}}</textarea>
            <label class="mdl-textfield__label" for="movieDescription">Description</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fullwidth input-field-text">

            <input class="mdl-textfield__input" type="text" name="category" id="category" value="{{movie.category}}" readonly tabIndex="-1">
            <label for="category" class="mdl-textfield__label">Genre</label>
            <ul for="category" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                <li class="mdl-menu__item">Fantasy</li>
                <li class="mdl-menu__item">Action</li>
                <li class="mdl-menu__item">Adventure</li>
                <li class="mdl-menu__item">Family</li>
                <li class="mdl-menu__item">Animation</li>
                <li class="mdl-menu__item">Other</li>
            </ul>
            </div>

        <br>
        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent input-button mdl-color--teal" onclick="validateDetails()" type="button" value="Edit">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--grey-300 input-button" href="{{url_for('showMovies')}}">Cancel</a>

      </form>
</div>
{% endblock %}